
.header {
    background-color: #72a7dd;
    padding: 20px;
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    height: 100vh; /* Optional: makes the header take the full viewport height */
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
}


    .footer {
        background-color: #f8f9fa;
        padding: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    .video-card {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

.body {
    font-family: 'Inter Tight', sans-serif;

}