
    .header {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
    }

    .footer {
        background-color: #f8f9fa;
        padding: 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    .video-card {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

.h3 {
    font-family: "Dela Gothic One", sans-serif;
    
}