/* Header */
.header {
    background-color: #72a7dd;
    padding: 20px;
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    min-height: 50vh; /* Adjusted to take only half of the viewport height */
    text-align: center;
    font-family: "Dela Gothic One", sans-serif;
}

.header h2 {
    font-size: 2rem; /* Larger font size for the header text */
    color: #b441d1; /* White text color */
}

/* Footer */
.footer {
    background-color: #343a40; /* Dark background */
    color: white; /* White text */
    padding: 20px 0; /* Padding around the footer */
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer .nav {
    margin-bottom: 10px;
}

.footer .nav-link {
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px;
    text-transform: uppercase; /* Capitalizes the links */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.footer .nav-link:hover {
    background-color: #17a2b8; /* Hover effect with teal color */
    transform: translateY(-3px); /* Slight lift effect on hover */
}

.footer-text {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #adb5bd; /* Lighter text color for the copyright */
    font-family: "Inter Tight", sans-serif; 
}

/* Video Cards */
.video-card {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card:hover {
    transform: translateY(-5px); /* Lift the card on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.video-card .card-body {
    padding: 20px;
}

.video-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Inter Tight", sans-serif;
}

.video-card .card-text {
    font-size: 1rem;
    color: #555;
    font-family: "Inter Tight", sans-serif; 
}

/* Search Bar */
.search-bar input {
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    font-family: "Inter Tight", sans-serif; 
}


@media (max-width: 768px) {
    .header h3 {
        font-size: 2rem; /* Adjust header font size for smaller screens */
    }

    .footer .nav-link {
        font-size: 0.9rem; /* Adjust font size for links in footer */
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }

    .footer-text {
        font-size: 0.8rem; /* Adjust footer text size */
        font-family: "Inter Tight", sans-serif; 
    }

    .search-bar input {
        font-size: 1rem; /* Adjust input font size */
        padding: 12px;
    }
    body {
        font-family: "Inter Tight", sans-serif; 
    }

    h3 {
        font-family: "Inter Tight", sans-serif;
    }
    .text-center.text-primary {
        font-family: "Inter Tight", sans-serif;
    }
    